apiVersion: v1
kind: Service
metadata:
  name: {{ include "lingo.fullname" . }}
  labels:
    {{- include "lingo.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  {{- if .Values.service.loadBalancerSourceRanges }}
  loadBalancerSourceRanges:
    {{- toYaml .Values.service.loadBalancerSourceRanges | nindent 4 }}
  {{- end }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    {{- include "lingo.selectorLabels" . | nindent 4 }}
